#eyes {
  --size: clamp(64px, 30vi, 256px);
  block-size: var(--size);
  inline-size: var(--size);
}

body {
  block-size: 50vb;
  display: grid;
  grid-template-rows: 2fr 1fr;
  place-items: center;
  text-align: center;
}